// COLORS

$color-green-dark: #0F7D3F;
$color-green: #18C965;

$color-text-dark: #404040;
$color-text-light: #f9f7f6;
$color-text-grey: rgb(182, 182, 182);

$color-bg: #f9f7f6;

$color-black: #000;
$color-grey: #aaa;