.header {
    &__navigation {

        &-items {
            display: flex;
            align-items: center;
        }

        &-item {
            list-style: none;

            a {
                margin-top: .3rem;
                padding: 1.5rem 3.5rem;
                display: block;

                &::after {
                    content: "";
                    display: block;
                    background-color: $color-text-light;
                    width: 0;
                    height: .2rem;
                    margin-top: .3rem;
                    transition: all .2s;
                }

                &:link, &:visited {
                    color: $color-text-light;
                    text-decoration: none;
                    transition: all .2s;
                }

                &:hover, &:active {
                    &::after {
                        width: 100%;
                    }
                }
            }

            img {
                width: 3rem;
                padding: 2rem 3.5rem;
                cursor: pointer;
            }
        }
    }   
}