.header {
    background: linear-gradient(rgba($color-black, .9), rgba($color-green, .7)), url("/assets/img/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    height: 80rem;
    box-sizing: border-box;

    &__nav {
        width: 95vw;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 4rem;
    }

    &__logo {
        width: 8rem;

        img {
            width: 100%;
        }
    }
}

@media (max-width: 593px) {
    .header {
        &__nav {
            justify-content: center;
        }
    }
}