.header {
    &__hero {
        max-width: 80rem;
        margin: 0 auto;
        margin-top: 20rem;
        padding: 2rem;

        & * {
            color: $color-text-light;
        }

        &__text {
            margin: 2rem 0;
        }
    }
}

@media (max-width: 500px) {
    .header {
        &__hero {
            margin-top: 2rem;
        }
    }
}