.header {
    &__hero {
        max-width: 80rem;
        margin: 0 auto;
        margin-top: 20rem;

        & * {
            color: white;
        }

        &-text {
            margin: 2rem 0;
        }
    }
}